@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-color:gray"></div>
            <div class="carousel-caption">
                <h1>Announcement day 1:</h1>
                <p style="font-size:x-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacus sapien, maximus at metus et, ultricies mollis nunc. </p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-color:gray"></div>
            <div class="carousel-caption">
                <h1>Announcement day 2:</h1>
                <p style="font-size:x-large">Quisque lobortis, libero vitae facilisis suscipit, mauris nibh maximus dui, vel aliquet dui tellus at ligula. Sed ac ligula dignissim, cursus dui vel, bibendum ipsum. Sed sed velit orci.</p>
            </div>            
        </div>
        <div class="item">
            <div class="fill" style="background-color:gray"></div>
            <div class="carousel-caption">
                <h1>Announcement day 3:</h1>
                <p style="font-size:x-large">Donec vel magna pharetra, imperdiet leo id, varius augue. Aliquam posuere tortor non vulputate placerat. Proin ipsum velit, aliquet non efficitur ac, vehicula eget lectus. Vestibulum congue vitae mauris sed luctus.</p>
            </div>   
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Vendor Management</h3>
                <p>In mi urna, gravida non turpis quis, mollis rutrum orci. Morbi pellentesque commodo lectus, in fermentum felis volutpat vel. Morbi vestibulum bibendum ipsum <a href="http://startbootstrap.com">More ...</a></p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Job Posting</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquam vitae erat nec ullamcorper.<a href="http://getbootstrap.com/customize/">More...</a></p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> New hire/term</h3>
                <p>Sed ac urna libero. Quisque erat arcu, maximus id condimentum ut, imperdiet nec tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non magna a purus fermentum molestie et a sem.<a href="http://getbootstrap.com/customize/">More...</a></p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

@{
#region commented blocks
    @*<div class="section">

            <div class="container">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Display Some Work on the Home Page Portfolio</h2>
                        <hr>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.section -->

        <div class="section-colored">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h2>Modern Business Features Include:</h2>
                        <ul>
                            <li>Bootstrap 3 Framework</li>
                            <li>Mobile Responsive Design</li>
                            <li>Predefined File Paths</li>
                            <li>Working PHP Contact Page</li>
                            <li>Minimal Custom CSS Styles</li>
                            <li>Unstyled: Add Your Own Style and Content!</li>
                            <li>Font-Awesome fonts come pre-installed!</li>
                            <li>100% <strong>Free</strong> to Use</li>
                            <li>Open Source: Use for any project, private or commercial!</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.section-colored -->

        <div class="section">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img class="img-responsive" src="http://placehold.it/700x450">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h2>Modern Business Features Include:</h2>
                        <ul>
                            <li>Bootstrap 3 Framework</li>
                            <li>Mobile Responsive Design</li>
                            <li>Predefined File Paths</li>
                            <li>Working PHP Contact Page</li>
                            <li>Minimal Custom CSS Styles</li>
                            <li>Unstyled: Add Your Own Style and Content!</li>
                            <li>Font-Awesome fonts come pre-installed!</li>
                            <li>100% <strong>Free</strong> to Use</li>
                            <li>Open Source: Use for any project, private or commercial!</li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.section -->

        <div class="container">

            <div class="row well">
                <div class="col-lg-8 col-md-8">
                    <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
                    <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->*@
#endregion
}
